<tr>
    <td class="col-md-1">{{match_num}}</td>
    <td class="col-md-1" style="border-left: 1px solid #fff;">{{schedule.0}}</td>
    <td class="col-md-1">{{schedule.1}}</td>
    {% if num_players == 6 %}
        <td class="col-md-1">{{schedule.2}}</td>
    {% endif %}
    <td class="col-md-1" style="border-left: 1px solid #fff;">{{schedule.3}}</td>
    <td class="col-md-1">{{schedule.4}}</td>
    {% if num_players == 6 %}
        <td class="col-md-1">{{schedule.5}}</td>
    {% endif %}
    <td class="col-md-1" style="border-left: 1px solid #fff;">{{schedule.6}}</td>
    <td class="col-md-1" style="border-left: 1px solid #fff;">{{schedule.7}}</td>
</tr>