{% extends 'home/base.html' %} {% block content %}
<div class="p-3 p-md-5 m-md-3 shadowy text-center bg-primary">
    <h1 class="display-4 fw-normal">About Us</h1>
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <p style="color: white" class="lead fw-normal">
        Second Robotics is a group that runs regular events on the xRC platform
        for Second Robotics Competition (SRC), Second Tech Challenge (STC),
        Second VEX Competition (SVC), and Minecraft Robotics Competition (MRC).
        Events range from full scale FRC style events, to single player
        showdowns, to fun community challenge events! Second Robotics is the
        official competitive organization of xRC.
    </p>
    <p style="color: white" class="lead fw-normal">
        Second Robotics Competition (SRC) is the flagship league of Second. In
        the past, SRC has held district seasons, single-player tournaments,
        ladder seasons, and large-scale championship events. Watch the trailer
        embedded below.
    </p>
    <p style="color: white" class="lead fw-normal">
        You can join our Discord and participate in our regularly scheduled
        events, you can compete in ranked matches whenever you are available to
        join the queue, or you can submit your single-player runs to our
        highscore leaderboard. There are so many ways to play and compete in
        Second Robotics!
    </p>
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-primary"
>
    <p style="color: white" class="lead fw-normal">
        Check out our Discord for our latest info on events we are hosting, or
        competitions to participate in.
    </p>
    <a href="/discord"
        ><img
        src=https://img.shields.io/discord/637407041048281098?label=Join%20the%20Discord&style=for-the-badge></a
    >
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-danger"
>
    <p style="color: white" class="lead fw-normal">
        xRC Simulator is a free-to-play physics-based robotics simulator for
        FIRST Robotics games. Developed by FTC 11115 Gluten Free, xRC Simulator
        is a great tool for strategizing, training, and competing with simulated
        robotics. Download the xRC simulator now to play FRC, FTC, and VRC
        games.
    </p>
    <a href="https://xrcsimulator.org/"
        ><img
        src=https://img.shields.io/badge/Download%20xRC%20Sim-free-brightgreen?style=for-the-badge></a
    >
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <a class="btn btn-secondary" href="https://www.twitch.tv/secondrobotics">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-twitch"
            viewBox="0 0 16 16"
        >
            <path
                d="M3.857 0L1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429l-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"
            ></path>
            <path
                d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"
            ></path>
        </svg>
        Follow SecondRobotics on Twitch
    </a>
    <a
        class="btn btn-secondary"
        href="https://www.youtube.com/channel/UCD_xbHO1BoG1EaOSb2CAkzg"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-youtube"
            viewBox="0 0 16 16"
        >
            <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
            />
        </svg>
        Subscribe to xRC on YouTube
    </a>
    <br /><br />
</div>
<div class="embed-responsive shadowy embed-responsive-16by9">
    <iframe
        title="SRC Trailer"
        width="100%"
        height="500"
        src="https://www.youtube-nocookie.com/embed/YDvl09S-LUA"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
{% endblock %}
