{% extends 'home/base.html' %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">About us</h1> 
        </div>
    </div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
    <p style="color:white" class="lead fw-normal">
        Second Robotics is a group that runs regular events on the xRC platform for Second Robotics Competition (SRC) in Infinite Recharge, Second Tech Challenge (STC) in Ultimate Goal, Second VEX Competition (SVC) in Change Up, and Minecraft Robotics Competition (MRC) in Minecraft. Events range from full scale FRC style events, to single player showdowns, to fun community challenge events!
    </p>
    <p style="color:white" class="lead fw-normal">
        Our current focus is on the 2021 FRC season, and hosting a full district system starting on January 30th, 2021! 
        There are three different robots that you can choose to play as, including those that are modeled from 125 NUTRONs and 2481 Roboteers. 
        Play Infinite Recharge with long-shot shooting, turret shooting, realistic foul rules, and ranking points. You can even get a chance to spin the control panel!
    </p>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
        <p style="color:white" class="lead fw-normal">
            Check out our Discord for our latest info on events we are hosting, or competitions to particpate in.
        </p>
        <a href="https://www.discord.gg/Zq3HXRc" class="btn btn-outline-light">Join the Discord</a>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-danger">
        <p style="color:white" class="lead fw-normal">
            Download the xRC simulator to play various FRC, FTC, and VRC matches.
        </p>
        <a href="https://xrcsimulator.org/" class="btn btn-outline-light">Download xRC Simulator</a>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="100%" height="500" src="https://www.youtube-nocookie.com/embed/YDvl09S-LUA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
