<!doctype html>
<html lang="en" xml:lang="en">
<head>
    <meta http-eqiv="Content-Language" content="en">
    <title>Second Robotics</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="google" content="notranslate" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                {% load static %}
                <img src="{% static '/images/logo.png' %}" alt="" width="50" height="50">
                Second Robotics
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/events/event1/">Event 1</a></li>
                        <li><a class="dropdown-item" href="#">Event 2</a></li>
                        <li><a class="dropdown-item" href="#">Event 3</a></li>
                    </ul>
                    </li> {% endcomment %}
                    <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Highscores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/highscores/OG/">OG</a></li>
                        <li><a class="dropdown-item" href="/highscores/Inertia/">Inertia</a></li>
                        <li><a class="dropdown-item" href="/highscores/Roboteers/">Roboteers</a></li>
                        {% comment %} <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/highscores/submit/">Submit a score</a></li> {% endcomment %}
                    </ul>
                    </li>

                </ul>
                {% comment %} <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Enter a search term" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> {% endcomment %}
            </div>
        </div>
    </nav>

    <div id="content", name="content" class= "container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>