{% extends 'home/base.html' %} {% block content %}
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary"
>
    <h1>Hall of Fame</h1>
    <h4>An archive of past Second Robotics events</h4>
</div>

<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
    {% for event in events %}
    <div class="col">
        <div
            class="position-relative overflow-hidden p-3 p-md-3 shadowy m-md-3 text-center bg-dark"
        >
            <h4>{{event.name}}</h4>
            <h5>{{event.date}}</h5>
            <p>
                🥇 {{event.first_place}} 🥇 {% if event.second_place %} <br />
                🥈 {{event.second_place}} 🥈 {% endif %}
            </p>
            {% if event.youtube_url %}
            <div class="embed-responsive shadowy embed-responsive-16by9">
                <iframe
                    width="100%"
                    height="190"
                    src="{{event.youtube_url}}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
