{% extends 'home/base.html' %} {% block content %}
<div class="p-3 p-md-5 m-md-3 text-center shadowy bg-dark">
    <div>
        <h1 class="display-4 fw-normal">Second Robotics</h1>
        <br />
        <p class="lead fw-normal">
            Virtual simulator competitions using the xRC simulator for everyone.
        </p>
        <p class="lead fw-normal">
            Welcome to the home of SRC, STC, SVC, MRC, and xRC high scores!
        </p>
    </div>
    <div class="d-grid gap-2 col-6 p-lg-3 mx-auto">
        <a href="/discord" class="btn btn-outline-light">Join the Discord</a>
        <a href="https://xrcsimulator.org/" class="btn btn-outline-light"
            >Download xRC Simulator</a
        >
        <a href="/merch" class="btn btn-outline-light">Shop the Merch Store</a>
    </div>
</div>
<div class="embed-responsive shadowy embed-responsive-16by9">
    <iframe
        width="100%"
        height="500"
        src="https://www.youtube-nocookie.com/embed/videoseries?list=PL-CZUOdLrE16yF1WyGbqh2ft0QwtKoZdW"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
{% endblock %}
