{% extends 'home/base.html' %} {% block content %}
<div
    class="
        position-relative
        overflow-hidden
        p-3 p-md-5
        m-md-3
        text-center
        bg-success
    "
>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Link Successful</h1>
        <p>
            You have successfully linked your Second Robotics account to
            xRC Simulator.
        </p>
        <a href="/highscores/" class="btn btn-outline-dark"
            >Visit secondrobotics.org</a
        >
    </div>
</div>
{% endblock %}
