{% extends 'home/base.html' %} {% block content %}
<div
    class="
        position-relative
        overflow-hidden
        p-3 p-md-5
        m-md-3
        text-center
        shadowy
        bg-primary
    "
>
    <h2 class="display-4 fw-normal">Logos Package</h2>
    <p></p>
    <p>
        Second Robotics Competition Logos:
        <a href="https://secondrobotics.org/logos/SRC%20Dark%20Logo.png"
            >SRC Logo (Dark Lettering)</a
        >
        /
        <a href="https://secondrobotics.org/logos/SRC%20Light%20Logo.png"
            >SRC Logo (Light Lettering)</a
        >
    </p>
    <p>
        Second Tech Challenge Logos:
        <a href="https://secondrobotics.org/logos/STC%20Logo%20Dark.png"
            >STC Logo (Dark Lettering)</a
        >
        /
        <a href="https://secondrobotics.org/logos/STC%20Logo%20Light.png"
            >STC Logo (Light Lettering)</a
        >
    </p>
    <p>
        Second VEX Challenge Logo:
        <a href="https://secondrobotics.org/logos/SVC%20Logo.png">SVC Logo</a>
    </p>
    <p>
        xRC Simulator Logo:
        <a href="https://secondrobotics.org/logos/xRC%20Logo.png">xRC Logo</a>
    </p>
</div>
{% endblock %}
