{% extends 'home/base.html' %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-light">
    <h2 class="display-4 fw-normal">Logos Package</h2>
    <p>All logos of Second Robotics and xRC Simulator are trademarked. We grant permission for any users to make use of our logos to promote events or use in videos/media. You are not allowed to use our logos in association with a competing service or to imitate official content. Editing our logo in a significant way (i.e. changing the colors) and then distributing the edit is not allowed. We reserve the right to revoke access to the use of our logos at any time.</p>
    <p></p>
    <p>Second Robotics Competition Logos: 
    <a href="https://secondrobotics.org/logos/SRC%20Dark%20Logo.png">SRC Logo (Dark Lettering)</a> / 
    <a href="https://secondrobotics.org/logos/SRC%20Light%20Logo.png">SRC Logo (Light Lettering)</a>
    </p>
    <p>Second Tech Challenge Logos:
    <a href="https://secondrobotics.org/logos/STC%20Logo%20Dark.png">STC Logo (Dark Lettering)</a> / 
    <a href="https://secondrobotics.org/logos/STC%20Logo%20Light.png">STC Logo (Light Lettering)</a>
    </p>
    <p>Second VEX Challenge Logo:
    <a href="https://secondrobotics.org/logos/SVC%20Logo.png">SVC Logo</a>
    </p>
    <p>xRC Simulator Logo:
    <a href="https://secondrobotics.org/logos/xRC%20Logo.png">xRC Logo</a>
    </p>
</div>
{% endblock %}
