{% extends 'home/base.html' %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-light">
    <h2 class="display-4 fw-normal">PRIVACY POLICY</h2>
    <p>Thank you for choosing to be part of our community at Second Robotics ("we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at <a href="mailto:contact@secondrobotics.org">contact@secondrobotics.org</a>.</p>
    <p>When you visit our website <a href="https://secondrobotics.org">https://secondrobotics.org</a> (the "Website"), and more generally, use any of our services (the "Services", which include the Website), we appreciate that you are trusting us with your personal information. We take your privacy very seriously.</p>
    <p></p>
    <h3>WHAT INFORMATION DO WE COLLECT?</h3>
    <p><strong>Personal information you disclose to us:</strong></p>
    <p>We collect email addresses; usernames; passwords; and other similar information.</p>
    <p></p>
    <p><strong>Information automatically collected:</strong></p>
    <p>Log and Usage Data. Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our Website and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Website (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings).</p>
    <p>Device Data. We collect device data such as information about your computer, phone, tablet or other device you use to access the Website. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system and system configuration information.</p>
    <p></p>
    <h3>THIRD-PARTY SERVICES</h3>
    <p>For content optimization, we make use of YouTube video embeds and Twitch stream embeds.<br />For web and mobile analytics, we make use of Google Analytics and Microsoft Clarity.</p>
    <p>Data that is collected for analytic purposes is anonymized and stripped of personally identifiable information. All collected data is kept confidential and is only viewable by Core Team Members.
    <br/>Third-party services like Google and Microsoft will never receive personally identifiable data.
    <br/>As a result of our use of Google Analytics, the Google <a href="https://policies.google.com/terms">Terms of Service</a> and <a href="https://policies.google.com/privacy">Privacy Policy</a> apply to this site. You can opt-out from Google Analytics <a href="https://tools.google.com/dlpage/gaoptout">here</a>.</p>
    <p></p>
    <h3>REVIEWING, UPDATING, AND DELETING YOUR DATA</h3>
    <p>You have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please send an email to <a href="mailto:contact@secondrobotics.org">contact@secondrobotics.org</a>. We will respond to your request within 30 days.</p>
</div>
{% endblock %}
