{% extends 'home/base.html' %}

{% block content %}
<div class="row">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
        <h1 style="color:white" class="display-4 fw-normal">{{username}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
            <h1 style="color:white" class="display-4 fw-normal">Roboteers</h1>
            <h2 style="color:white" class="display-6 fw-normal">
                {{scores.Roboteers}}
            </h2>
            {% if  scores.Roboteers > 0 %}
                <img src={{sources.Roboteers}} class="img-fluid" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
            <h1 style="color:white" class="display-4 fw-normal">Inertia</h1>
            <h2 style="color:white" class="display-6 fw-normal">
               {{scores.Inertia}}
            </h2>
            {% if  scores.Inertia > 0 %}
                <img src={{sources.Inertia}} class="img-fluid" alt="...">
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
            <h1 style="color:white" class="display-4 fw-normal">OG</h1>
            <h2 style="color:white" class="display-6 fw-normal">
                {{scores.OG}}
            </h2>
            {% if scores.OG > 0 %}
                <img src={{sources.OG}} class="img-fluid" alt="...">
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <h1 style="color:white" class="display-4 fw-normal">Total Score</h1>
        <h2 style="color:white" class="display-6 fw-normal">{{scores.overall}}</h2>
    </div>
    
</div>
{% endblock %}