{% extends 'home/base.html' %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 shadowy text-center bg-primary">
    <h1>{{request.user}}</h1>
    <img src="{{request.user.profile.profile_picture}}">
    <form method="POST" action="">
        {% load widget_tweaks %}
        {% csrf_token %}
        Profile Picture
        {% render_field form.profile_picture class+="form-control" %}

    <input class="btn btn-dark" type="submit" name="Update Information">
</div>
{% endblock %}