appdirs==1.4.4
asgiref==3.3.1
distlib==0.3.1
Django==3.1.5
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
filelock==3.0.12
PyJWT==1.7.1
pycryptodome==3.9.9
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
virtualenv==20.2.2