{% extends 'home/base.html' %}

{% block content %}
<h1>Global Elo Leaderboard</h1>
<table class="table table-dark table-striped table-hover table-sm" style="text-align: center">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Elo</th>
            <th>Rank Title</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in players_with_rank %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.player.username }}</td>
            <td>{{ entry.global_elo }}</td>
            <!-- Updated line to use CSS class instead of inline style -->
            <td class="{{ entry.color }}">{{ entry.rank }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}