{% extends 'home/base.html' %} 
{% block content %} 
{% load rank_filter %}

<div class="position-relative overflow-hidden text-center bg-primary">
    <div class="p-lg-4 mx-auto">
        <h1 style="color: white" class="display-4 fw-normal">
            {{leaderboard_name}}
        </h1>
    </div>
</div>

<table class="table table-dark table-striped table-hover table-sm" style="text-align: center">
    <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>ELO</th>
            <th>MMR</th>
            <th>Rank</th>
            <th># Played</th>
            <th>Win %</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="/ranked/{{ leaderboard_code }}/{{ player.player.id }}">{{ player.player }}</a>
            </td>
            <td>{{ player.elo|floatformat:1 }}</td>
            <td>{{ player.mmr|floatformat:1 }}</td>
            {% with rank, color = mmr_to_rank player.mmr highest_mmr lowest_mmr %}
            <td style="color: {{ color|safe }}">{{ rank }}</td>
            {% endwith %}
            <td>{{ player.matches_played }}</td>
            <td>{{ player.win_rate|floatformat:2 }}%</td>
            <td>{{ player.matches_won }}</td>
            <td>{{ player.matches_lost }}</td>
            <td>{{ player.matches_drawn }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
