{% extends 'home/base.html' %} {% block content %} {% load rank_filter %}

<div class="position-relative overflow-hidden text-center bg-primary">
    <div class="p-lg-4 mx-auto">
        <h1 style="color: white" class="display-4 fw-normal">
            {{leaderboard_name}}
        </h1>
    </div>
</div>

<table
    class="table table-dark table-striped table-hover table-sm"
    style="text-align: center"
>
    <thead>
        <td>#</td>
        <td>Player</td>
        <td>ELO</td>
        <td>MMR</td>
        <td>Rank</td>
        <td># Played</td>
        <td>Win %</td>
        <td>Wins</td>
        <td>Losses</td>
        <td>Ties</td>
    </thead>
    {% for player in players %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>
            <a href="/ranked/{{leaderboard_code}}/{{player.player.id}}"
                >{{player.player.display_name}}</a
            >
        </td>
        <td>{{ player.elo|floatformat:1 }}</td>
        <td>{{ player.mmr|floatformat:1 }}</td>
        <td>{{player.mmr|get_rank}}</td>
        <td>{{player.matches_played}}</td>
        <td>{{ player.win_rate|floatformat:2 }}%</td>
        <td>{{player.matches_won}}</td>
        <td>{{player.matches_lost}}</td>
        <td>{{player.matches_drawn}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
