{% extends 'home/base.html' %} {% block content %} {% load rank_filter %}

<div class="row">
    <div class="col-2">
        <img
            src="{{player.player.avatar}}"
            class="shadowy m-md-3 responsive img-profile rounded-circle img-fluid"
            alt="User profile picture"
        />
    </div>
    <div class="col-10">
        <div
            class="position-relative overflow-hidden bg-primary p-lg-4 mx-auto text-center"
        >
            <h1 class="display-4 fw-normal">{{player.player}}</h1>
            <h1 class="display-6 fw-normal">
                <a
                    href="/ranked/{{player.game_mode.short_code}}/"
                    style="color: #fff; text-decoration: none"
                    >{{player.game_mode.name}}</a
                >
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div
            class="position-relative overflow-hidden p-3 p-md-4 shadowy m-md-3 text-center bg-dark"
        >
            <h1 class="display-4 fw-normal">{{ mmr|get_rank }}</h1>
            <h2 class="display-6 fw-normal">
                {{ player.elo|floatformat:1 }} ELO<br />{{ mmr|floatformat:1 }}
                MMR
            </h2>
        </div>
    </div>
    <div class="col">
        <div
            class="position-relative overflow-hidden p-3 p-md-4 shadowy m-md-3 text-center bg-dark"
        >
            <h1 class="display-4 fw-normal">
                {{ player.win_rate|floatformat:2 }}% Win Rate
            </h1>
            <h2 class="display-6 fw-normal">
                {{player.matches_won}}-{{player.matches_lost}}-{{player.matches_drawn}}<br />W-L-T
            </h2>
        </div>
    </div>
</div>

<script
    src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"
    integrity="sha256-+8RZJua0aEWg+QVVKg4LEzEEm/8RFez5Tb4JBNiV5xA="
    crossorigin="anonymous"
></script>

<div class="row row-cols-1 row-cols-md-2 p-lg-5">
    <div class="col">
        <canvas id="chart-elo-history" width="400" height="400"></canvas>
    </div>
    <div class="col">
        <canvas id="chart-win-rate" width="400" height="400"></canvas>
    </div>
</div>

<script>
    const winRateChart = new Chart(document.getElementById('chart-win-rate').getContext('2d'), {
        type: 'doughnut',
        data: {
            labels: ['Wins', 'Losses', 'Draws'],
            datasets: [{
                data: [
                    {{player.matches_won}},
                    {{player.matches_lost}},
                    {{player.matches_drawn}}
                ],
                backgroundColor: [
                    '#28a745',
                    '#dc3545',
                    '#ffc107'
                ],
                borderColor: [
                    '#28a745',
                    '#dc3545',
                    '#ffc107'
                ],
                borderWidth: 1
            }]
        },
    });
    const eloHistoryChart = new Chart(document.getElementById('chart-elo-history').getContext('2d'), {
        type: 'line',
        data: {
            labels: JSON.parse("{{match_labels}}"),
            datasets: [{
                label: 'ELO',
                data: JSON.parse("{{elo_history}}"),
                backgroundColor: '#ffc107',
                borderColor: '#ffc107',
            }]
        },
    });
</script>

<div class="text-center">
    <a href="/user/{{player.player.id}}/" class="btn btn-primary btn-lg"
        >View Full Profile</a
    >
</div>

{% endblock %}
