<tr>
    <td style="text-align:center">{{match_number}}</td>
    {% if published %}
        {% if red > blue %}
            <td style="background-color:#ffaaaa;text-align:center"><b>{{red_name}}</b></td>
            <td style="background-color:#ffaaaa;text-align:center"><b>{{red}}</b></td>
        {% else %}
            <td style="background-color:#ffaaaa;text-align:center">{{red_name}}</td>
            <td style="background-color:#ffaaaa;text-align:center">{{red}}</td>
        {% endif %}
        {% if red < blue %}
            <td style="background-color:#aaaaff;text-align:center"><b>{{blue}}</b></td>
            <td style="background-color:#aaaaff;text-align:center"><b>{{blue_name}}</b></td>
        {% else %}
            <td style="background-color:#aaaaff;text-align:center">{{blue}}</td>
            <td style="background-color:#aaaaff;text-align:center">{{blue_name}}</td>
        {% endif %}
    {% else %}
        <td style="background-color:#ffaaaa;text-align:center">{{red_name}}</td>
        <td style="background-color:#ffaaaa;text-align:center"></td>
        <td style="background-color:#aaaaff;text-align:center"></td>
        <td style="background-color:#aaaaff;text-align:center">{{blue_name}}</td>
    {% endif %}
</tr>