{% extends 'home/base.html' %}

{% block content %}

    <div class="position-relative overflow-hidden text-center" style="background-color:#{{team.secondary_color}}">
        <div class="p-lg-4 mx-auto" style="display:inline; white-space:nowrap">
            <h1 style="color:#{{team.primary_color}}; display:inline; white-space:nowrap; vertical-align:center" class="display-4 fw-normal">
                {{team.name}}
                <img class="rounded" style="display:inline; max-width:100%; max-height: 128px; text-align: right" src="{{team.logo}}"/>
            </h1>
        </div>
    </div>
    <br/>

    <div class="position-relative overflow-hidden text-center bg-primary">
        <h3 style="color:white">{{team.player1}} {{team.player2}} {{team.player3}}<h3>
    </div>
    <br/>

    {% for matchup in matchups %}
        {% include "teamleague/matchup_block.html" with matchup=matchup show_week=True %}
    {% endfor %}

{% endblock %}