{% extends 'home/base.html' %} {% block content %}
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary"
>
    <h1 style="color: white" class="display-4 fw-normal">
        xRC Sim Official Highscores
    </h1>
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <h2 style="color: white" class="display-10 fw-normal">SRC Rapid React</h2>
    {% comment %}
    <a href="/highscores/rr/combined/" class="btn btn-outline-light"
        >Combined Leaderboard</a
    >
    <br /><br />
    {% endcomment %}
    <a href="/highscores/rr/MiniDrone/" class="btn btn-outline-light"
        >MiniDrone</a
    >
    <br /><br />
    <a href="/highscores/rr/submit/" class="btn btn-outline-success"
        >Submit your score</a
    >
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <h2 style="color: white" class="display-10 fw-normal">
        SRC Infinite Recharge
    </h2>
    <a href="/highscores/ir/combined/" class="btn btn-outline-light"
        >Combined Leaderboard</a
    >
    <br /><br />
    <a href="/highscores/ir/OG/" class="btn btn-outline-light">OG</a>
    <a href="/highscores/ir/Inertia/" class="btn btn-outline-light">Inertia</a>
    <a href="/highscores/ir/Roboteers/" class="btn btn-outline-light"
        >Roboteers</a
    >
    <a href="/highscores/ir/Waffles/" class="btn btn-outline-light">Waffles</a>
    <a href="/highscores/ir/Triangle/" class="btn btn-outline-light"
        >Triangle</a
    >
    <a href="/highscores/ir/Pushbot2/" class="btn btn-outline-light"
        >Pushbot2</a
    >
    <br /><br />
    <a href="/highscores/ir/submit/" class="btn btn-outline-success"
        >Submit your score</a
    >
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <h2 style="color: white" class="display-10 fw-normal">
        STC Freight Frenzy
    </h2>
    <a href="/highscores/ff/combined/" class="btn btn-outline-light"
        >Combined Leaderboard</a
    >
    <br /><br />
    <a href="/highscores/ff/Bulldogs/" class="btn btn-outline-light"
        >Bulldogs</a
    >
    <a href="/highscores/ff/Kraken/" class="btn btn-outline-light">Kraken</a>
    <a href="/highscores/ff/Bailey/" class="btn btn-outline-light">Bailey</a>
    <a href="/highscores/ff/Cody/" class="btn btn-outline-light">Cody</a>
    <br /><br />
    <a href="/highscores/ff/submit/" class="btn btn-outline-success"
        >Submit your score</a
    >
</div>
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <h2 style="color: white" class="display-10 fw-normal">SVC Tipping Point</h2>
    <a href="/highscores/tp/AMOGO2/" class="btn btn-outline-light">AMOGO2</a>
    <br /><br />
    <a href="/highscores/tp/submit/" class="btn btn-outline-success"
        >Submit your score</a
    >
</div>
{% endblock %}
