{% extends 'home/base.html' %} {% block content %}
<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary"
>
    <h1 style="color: white" class="display-4 fw-normal">
        xRC Sim Official Highscores
    </h1>
</div>

{% for game, leaderboards in games.items %}

<div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center shadowy bg-dark"
>
    <h2 style="color: white" class="display-10 fw-normal">{{ game }}</h2>
    {% if leaderboards|length > 1 %}
    <a
        href="/highscores/{{ leaderboards.copy.pop.game_slug }}/combined/"
        class="btn btn-outline-info"
        >Combined Leaderboard</a
    >
    <br /><br />
    {% endif %} {% for leaderboard in leaderboards %}
    <a
        href="/highscores/{{ leaderboard.game_slug }}/{{ leaderboard.name }}/"
        class="btn btn-outline-light"
        >{{ leaderboard.name }}</a
    >
    {% endfor %}
</div>

{% endfor %} {% endblock %}
