{% extends 'home/base.html' %}

{% block content %}
<div class="position-relative overflow-hidden text-center bg-danger">
    <div class="p-lg-4 mx-auto">
        <h1 style="color: white" class="display-4 fw-normal">
            {{ robot_name }} Leaderboard
        </h1>
    </div>
</div>
<table class="table table-dark table-striped table-hover table-sm">
    <thead>
        <tr>
            <th style="text-align: center">Rank</th>
            <th>Player Name</th>
            <th style="text-align: center">Score</th>
            <th style="text-align: center">Submission Date</th>
            <th style="text-align: center">Percentile</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ls %}
        <tr>
            <td style="text-align: center"><b>{{ item.0 }}</b></td>
            <td>
                <a href="/user/{{ item.1.player.id }}" style="color: #fff">{{ item.1.player }}</a>
            </td>
            <td style="text-align: center">{{ item.1.score }}</td>
            <td style="text-align: center">
                <a href="{{ item.1.source }}" style="color: #fff">{{ item.1.time_set }}</a>
            </td>
            <td style="text-align: center">{{ item.2|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
