{% extends 'home/base.html' %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-success">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Score submitted successfully!</h1>
      <p>Your clean code was automatically verified and your score is now live on the leaderboard!</p>
      <a href="/highscores/submit/" class="btn btn-outline-dark">Submit another score</a>
      <a href="/highscores/combined/" class="btn btn-outline-dark">See the leaderboard</a>
    </div>
</div>
{% endblock %}