{% extends 'home/base.html' %}

{% block content %}
<h1>Submit a new score</h1>
<div class = "form-group">
    <form method="post" action="/highscores/submit/" enctype="multipart/form-data">
        {% load widget_tweaks %}
        {% csrf_token %}
        {{form.errors}}
        <div class="row">   
            <div class="col">
                {% render_field form.player_name class+="form-control" placeholder="Player Name" %}
            </div>
            <div class="col">
                {% render_field form.leaderboard class+="form-control" placeholder="Robot" %}
            </div>
        </div>
        <br>
        {% render_field form.score class+="form-control" placeholder="Score" %}
        <div>
            <label for="formFile" class="form-label">Upload image for verification</label>
            <input class="form-control form-control" id="formFile" type="file", name="score-screenshot">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success btn-lg">Submit Score</button>
    
        
        
    </form>
</div>
{% endblock %}